<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Horizon Hotels | Bookings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() 
            {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>
        <script>
            function ChangeCurrency(value)
            {                
                var multiplyer;
                var sign;
                switch (value){
                    case "gbp":
                        multiplyer = 1;
                        sign = "£";
                        break;                        
                    case "euros":
                        multiplyer = 1.2;
                        sign = "€";
                        break;
                    case "usd":
                        multiplyer = 1.6;
                        sign = "$";
                        break;
                } 
                
                if (document.getElementById("bookingstable") != null){
                    var table = document.getElementById("bookingstable");
                    for (var i = table.rows.length - 1; i > 0; i--){
                        table.deleteRow(i);
                    }
                }


                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function(){
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                        raw_data = JSON.parse(xmlhttp.responseText);
                        for (const data of raw_data){
                            var row = table.insertRow(-1);
                            for (var i = 0; i < 8; i++){
                                var cell = row.insertCell(i);
                                switch (i){
                                    case 0:
                                        cell.innerHTML = data["bookingID"];
                                        break;
                                    case 1:
                                        cell.innerHTML = data["checkindate"];
                                        break;
                                    case 2:
                                        cell.innerHTML = data["checkoutdate"];
                                        break;
                                    case 3: 
                                        cell.innerHTML = data["guestnum"];
                                        break;
                                    case 4: 
                                        cell.innerHTML = data["city"];
                                        break;
                                    case 5: 
                                        cell.innerHTML = data["roomtype"];
                                        break;
                                    case 6: 
                                        price = parseInt(data["price"]) * multiplyer;
                                        if (price % 1 != 0){
                                            price = price.toFixed(2);
                                        }
                                        cell.innerHTML = sign + String(price);
                                        break;
                                    case 7:
                                        cell.innerHTML = data["datecreated"];
                                        break;
                                }
                            }
                        }
                    }
                }
                xmlhttp.open("GET", "/changecurrency/?q=" + value + "_getbooking", true);
                xmlhttp.send();

                if ('{{m}}' == "Success"){
                    var message = document.getElementById("message");
                    var price = parseInt('{{fee}}') * multiplyer;
                    if (price % 1 != 0){
                        price = price.toFixed(2);
                    }
                    message.innerHTML = "{{message}}" + sign + String(price);
                }
            }

            function Init()
            {
                document.getElementById("currency").value = "{{currency}}";
                ChangeCurrency(document.getElementById("currency").value);                
            }
        </script>
    </head>
    <body onload="Init()">
        <nav id="navbar">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('booking')}}">Booking</a></li>
                <li><a href="{{url_for('account')}}">Account</a></li>
                {% if loggedIn %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% else %}
                <li><a href="{{url_for('login')}}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="currency">
            <form>
                <select name="currency" id="currency" onchange="ChangeCurrency(this.value)">
                    <option value="gbp">GBP</option>
                    <option value="euros">Euros</option>
                    <option value="usd">USD</option>
                </select>
            </form>
        </div>
        <div class="main">
            <h3>Your bookings</h3>
            <br><br>
            {% if m == "Error" %}
            <div class="errormessage">
                <p>{{message}}</p>
            </div>
            <br>
            {% endif %}
            {% if m == "Success" %}
            <div class="successmessage">
                <p id="message">{{message}}</p>
            </div>
            <br>
            {% endif %}
            {% if bookings != False %}
            <table id="bookingstable">
                <tr>
                    <th>Booking ID</th>
                    <th>Check in date</th>
                    <th>Check out date</th>
                    <th>Number of guests</th>
                    <th>Destination</th>
                    <th>Room type</th>
                    <th>Total price</th>
                    <th>Date booked</th>
                </tr>
            {% for booking in bookings %}
                <tr>
                    <td>{{booking["bookingID"]}}</td>
                    <td>{{booking["checkindate"]}}</td>
                    <td>{{booking["checkoutdate"]}}</td>
                    <td>{{booking["guestnum"]}}</td>
                    <td>{{booking["city"]}}</td>
                    <td>{{booking["roomtype"]}}</td>
                    <td>£{{booking["price"]}}</td>
                    <td>{{booking["datecreated"]}}</td>
                </tr>
            {% endfor %}
            </table>
            <br>
            <div class="center-align">
            <div id="bookingsbuttons">
            <div class="account-buttons">
                <button type="button" onclick="MoveToCancel()">Cancel bookings</button>
            </div>
            </div>
            </div>
            {% else %}
                <br><br>
                <p class="center-align">You have no bookings to view</p>
            {% endif %}
            <br>
            <script>
                function MoveToCancel(){
                    document.getElementById("cancelbooking").style.display = "block";
                    document.getElementById("bookingsbuttons").style.display = "none";
                }
            </script>
            <div id="cancelbooking">
            <div class="center-align">
                {% if bookings != False %}
                <p>Select the booking ID of the booking you want to cancel</p>
                <form action="{{url_for('cancelbooking')}}" method="POST">
                    <select name="bookingID">
                        {% for booking in bookings %}
                        <option value="{{booking['bookingID']}}">{{booking['bookingID']}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" value="Cancel booking">
                </form>
                {% endif %}
            </div> 
            </div>           
            <br>
        </div><br><br><br><br><br><br><br>
        <footer>
            <p class="footertext"><a class="footertext" href="{{url_for('privacypolicy')}}">Privacy policy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="footertext" href="{{url_for('contactus')}}">Contact us</a></p>
        </footer>
    </body>
</html>